<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KLMainProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF1F92AE1E14F6E60099AB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1F92C71E14F6E60099AB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1F92D21E14F6E60099AB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
